boto==2.48.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.0
Flask-Cors==3.0.8
graphviz==0.8.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
lark-parser==0.5.3
MarkupSafe==1.1.1
nltk==3.4.4
#numpy==1.16.4
py==1.4.34
pytest==3.2.3
python-dateutil==2.7.2
pytictoc==1.4.0
pytz==2018.4
requests==2.22.0
#scipy==1.0.1
six==1.11.0
urllib3==1.25.7
Werkzeug==0.15.4
z3-solver==4.8.7.0
